// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Fira Code', monospace;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark-bg: #2C2C2D;
$soft-dark-bg: #363636;

// Type Colors
$normal: #A8A878;
$fire: #F08030;
$fighting: #C03028;
$water: #6890F0;
$grass: #78C850;
$poison: #A040A0;
$electric: #F8D030;
$ground: #E0C068;
$rock: #B8A038;
$bug: #A8B820;
$dragon: #7038F8;
$ghost: #705898;
$dark: #705848;
$fairy: #EE99AC;
$steel: #B8B8D0;
$psychic: #F85888;
$ice: #98D8D8;
$flying: #A890F0;